@media screen and (max-width: 768px) {
  .home {
    min-height: 100vw;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1em;
    justify-content: flex-end;
  }

  .text {
    height: 40%;
    width: 100%;
  }

  .textcontainer {
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 6vw;
  }

  .textcontainer span {
    font-size: 5vw;
  }

  .textcontainer h1 {
    font-size: 11vw;
  }

  .textcontainer h5 {
    font-size: 4vw;
  }

  .textcontainer p {
    width: 90%;

    margin-top: 1.5vw;
    font-size: 2.5vw;
  }

  .textcontainer a {
    font-size: 2.5vw;
  }

  .profile {
    position: relative;
    width: 100%;
  }

  .featured {
    top: 75%;
    left: 75%;
    border-width: 0.8vw;
    scale: 1.5;
  }

  .featured span {
    font-weight: 500;
    letter-spacing: 1px;
  }

  .canvas {
    position: relative;
    height: 50vh;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 80% 80%, 0% 100%);
  }

  .canvas img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 80% 70%, 0% 100%);
  }

  .page {
    height: 100vh;
    width: 100%;
    position: relative;
  }

  .page .heading {
    position: relative;
    font-size: 2vw;
    font-weight: 400;
    color: var(--dark);
    text-align: center;
    padding-top: 80px;
  }

  .page .heading span {
    color: var(--primary);
    font-weight: 700;
  }

  .page .heading::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    width: 8%;
    background: var(--primary);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
  }

  .about {
    height: fit-content;
  }

  .userdetails {
    grid-template-columns: none;
    padding: 0 8vw;
    padding-top: 5vh;
  }

  .details:nth-child(2) {
    margin-top: 10vw;
  }

  .details .imgbox {
    height: 38vw;
    width: 38vw;
  }

  .details h1 {
    font-size: 7vw;
  }

  .details h5 {
    font-size: 3vw;
  }

  .details h5::before {
    bottom: -2.5px;
  }

  .socialmedia {
    top: 5vw;
  }

  .socialmedia .uil {
    font-size: 5vw;
    height: 8vw;
    width: 8vw;
    line-height: 8vw;
  }

  .details .heading {
    font-size: 4vw;
  }

  .details .heading::after {
    width: 5vw;
    margin-bottom: -0.5vw;
  }

  .details p {
    font-size: 1.6vw;
    max-width: 100%;
    margin-top: 5vw;
  }

  .details .btn {
    display: flex;
    width: 100%;
  }

  .details .btn a {
    margin: 0 auto;
    scale: 1.5;
    margin-top: 2vw;
  }
}
