.page {
  height: 100vh;
  width: 100%;
  position: relative;
}

.page .heading {
  position: relative;
  font-size: 2vw;
  font-weight: 400;
  color: var(--dark);
  text-align: center;
  padding-top: 80px;
}

.page .heading span {
  color: var(--primary);
  font-weight: 700;
}

.page .heading::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  width: 8%;
  background: var(--primary);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
}

.userdetails {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  padding: 80px;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.details .imgbox {
  position: relative;
  margin-top: 50px;
  height: 20vw;
  width: 20vw;
}

.details .imgbox img {
  position: relative;
  height: inherit;
  width: inherit;
  object-fit: cover;
  border-radius: 50%;
}

.details .imgbox::before {
  position: absolute;
  content: "";
  height: inherit;
  width: inherit;
  border-radius: 50%;
  z-index: 0;
  scale: 1.08;
  background: linear-gradient(to top left, var(--primary) 50%, #000 50%);
}

.details h1 {
  color: var(--primary);
  font-size: 2.5vw;
  margin-top: 2vw;
}

.details h5 {
  position: relative;
  color: var(--dark);
  font-size: 1.3vw;
  font-weight: 500;
}

.details h5::before {
  position: absolute;
  content: "";
  width: 75%;
  height: 3px;
  background: var(--dark);
  left: 13%;
  bottom: -24px;
  opacity: 0.5;
}

.socialmedia {
  position: relative;
  top: 50px;
}

.socialmedia .uil {
  color: #fff;
  font-size: 2vw;
  height: 60px;
  width: 60px;
  line-height: 60px;
  background: var(--primary);
  text-align: center;
  margin: 0 10px;
  display: inline-block;
  transition: 0.2s ease;
}

.socialmedia .uil:hover {
  color: var(--primary);
  background: var(--dark);
  cursor: pointer;
}

.details .heading {
  padding-top: 0;
}

.details .heading::after {
  width: 5vw;
  margin-bottom: -0.5vw;
}

.details p {
  font-size: 1vw;
  word-spacing: 2px;
  max-width: 60%;
  margin-top: 3vw;
  color: var(--dark);
}

.details .btn {
  width: 60%;
  margin-top: 1.8vw;
}

.details .btn a {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 1vw;
  text-align: center;
  text-wrap: nowrap;
  text-decoration: none;
  height: 4vw;
  width: 10vw;
  line-height: 4vw;
  background: var(--primary);
  overflow: hidden;
  z-index: 1;
}

.details .btn a i {
  font-size: 1.3vw;
  margin-left: 0.5vw;
}

.details .btn a::before {
  position: absolute;
  content: "";
  height: 2vw;
  width: 2vw;
  background: #222;
  top: 50%;
  right: 1vw;
  transform: translate(0, -50%);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.details .btn a:hover::before {
  height: 10vw;
  width: 10vw;
  right: -1vw;
}
