.scrolltotop {
  position: fixed;
  bottom: 5vw;
  right: 2vw;
  z-index: 999;
}

.scrolltotop a {
  color: #fff;
  font-size: 2vw;
  padding: 0.3vw 0.7vw;
  border-radius: 8px;
  background: var(--primary);
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.scrolltotop a.active {
  opacity: 1;
  visibility: visible;
}
