@keyframes rotation {
  0%,
  20% {
    rotate: 0;
  }
  25%,
  40% {
    rotate: 90deg;
  }
  45%,
  60% {
    rotate: 180deg;
  }
  65%,
  80% {
    rotate: 270deg;
  }
  85%,
  100% {
    rotate: 360deg;
  }
}

.featured {
  position: absolute;
  background: transparent;
  height: 31vw;
  width: 31vw;
  border: 8px solid var(--primary);
  border-radius: 50%;
  animation: rotation 12s ease-in infinite;
}
