.container {
  position: relative;
  overflow: hidden;
  min-height: 200vh;
  background-color: var(--light);
}

.home {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
  overflow: hidden;
}

.text {
  display: grid;
  place-items: center;
}
