.container {
  position: relative;
  overflow: hidden;
  background-color: var(--light);
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10vw;
  height: 80px;
  line-height: 80px;
  z-index: 999;
  transition: 0.3s ease;
}

nav .logo {
  font-size: 30px;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: 1px;
  text-decoration: none;
}

.logo span:last-child {
  font-weight: 900;
  color: var(--dark);
}

nav ul {
  position: relative;
  display: flex;
  justify-content: end;
  width: 100%;
}

ul li {
  position: relative;
  list-style: none;
  overflow: hidden;
}

ul li a {
  display: block;
  font-size: 1.5em;
  font-weight: 400;
  padding: 0 1.2vw;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.3s ease;
}

ul li a:hover {
  transform: translateY(-30px);
}

ul li::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  bottom: 0;
  right: 0;
  background: var(--light);
  transition: 0.3s 0.2s ease;
}

ul li:hover::before {
  width: 100%;
  left: 0;
  background-color: #000;
}

.toggle {
  cursor: pointer;
  color: #fff;
  margin: 0 2vw;
}

.toggle i {
  font-size: 1.7vw;
}

.toggle .uil-sun,
.uil-bars {
  display: none;
}

.home {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
  overflow: hidden;
}

.text {
  display: grid;
  place-items: center;
}

.textcontainer {
  margin-left: 4vw;
  position: relative;
}

.textcontainer span {
  color: var(--dark);
  font-size: 1.8vw;
}

.textcontainer h1 {
  font-size: 5vw;
  font-weight: 900;
  text-wrap: nowrap;
  color: var(--primary);
}

.textcontainer h5 {
  color: var(--dark);
  font-weight: 500;
  font-size: 2vw;
  opacity: 0.8;
}

.textcontainer p {
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 6vw;
  margin-top: 0.5vw;
  color: var(--dark);
}

.textcontainer a {
  position: relative;
  text-decoration: none;
  font-size: 1.5vw;
  color: #fff;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  padding: 8px 15px;
  transition: 0.3s ease;
}

.textcontainer a::before {
  position: absolute;
  content: "";
  height: 80%;
  width: 3px;
  right: -19px;
  background: #585858a1;
}

.textcontainer a:last-child::before {
  display: none;
}

.textcontainer a .uil {
  margin-right: 10px;
}

.textcontainer a:hover {
  color: var(--dark);
  background-color: transparent;
}

.textcontainer .hireme {
  margin-left: 30px;
  color: var(--dark);
  background: var(--light);
  border: 2px solid var(--primary);
}

.textcontainer .hireme:hover {
  margin-left: 30px;
  color: #fff;
  background: var(--primary);
}

.profile {
  position: relative;
}

.featured {
  position: absolute;
  background: transparent;
  height: 31vw;
  width: 31vw;
  border: 8px solid var(--primary);
  border-radius: 50%;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  animation: rotation 12s ease-in infinite;
}

@keyframes rotation {
  0%,
  20% {
    rotate: 0;
  }
  25%,
  40% {
    rotate: 90deg;
  }
  45%,
  60% {
    rotate: 180deg;
  }
  65%,
  80% {
    rotate: 270deg;
  }
  85%,
  100% {
    rotate: 360deg;
  }
}

.featured span {
  position: absolute;
  font-size: 1.7vw;
  font-weight: 900;
  color: var(--primary);
  width: 28vw;
  padding: 5px 0;
  text-align: center;
  text-wrap: nowrap;
  background: linear-gradient(to right, transparent 40%, var(--light) 40%);
  left: 0;
  top: 50%;
  transform-origin: right;
  transform: translate(-50%, -50%) rotate(calc(90deg * var(--i)));
}

.canvas {
  position: absolute;
  background: var(--primary);
  height: 100%;
  width: 100%;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%, 35% 65%);
}

.canvas img {
  position: relative;
  height: inherit;
  width: 80%;
  left: 20%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%, 35% 65%);
}
