.textcontainer {
  margin-left: 4vw;
  position: relative;
}

.textcontainer span {
  color: var(--dark);
  font-size: 1.8vw;
}

.textcontainer h1 {
  font-size: 5vw;
  font-weight: 900;
  color: var(--primary);
}

.textcontainer h5 {
  color: var(--dark);
  font-weight: 500;
  font-size: 2vw;
  opacity: 0.8;
}

.textcontainer p {
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 6vw;
  margin-top: 0.5vw;
  color: var(--dark);
}
