
.container {
  position: relative;
  overflow: hidden;
  background-color: var(--light);
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10vw;
  height: 80px;
  line-height: 80px;
  z-index: 999;
  transition: 0.3s ease;
}

nav .logo {
  font-size: 30px;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: 1px;
  text-decoration: none;
}

.logo span:last-child {
  font-weight: 900;
  color: var(--dark);
}

nav ul {
  position: relative;
  display: flex;
  justify-content: end;
  width: 100%;
}

ul li {
  position: relative;
  list-style: none;
  overflow: hidden;
}

ul li a {
  display: block;
  font-size: 1.5em;
  font-weight: 400;
  padding: 0 1.2vw;
  color: #000;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.3s ease;
}

ul li a:hover {
  transform: translateY(-80px);
}

ul li::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  bottom: 0;
  right: 0;
  background: var(--dark);
  transition: 0.3s 0.2s ease;
}

ul li:hover::before {
  width: 100%;
  left: 0;
  background-color: #000;
}

.toggle {
  cursor: pointer;
  color: #000;
  margin: 0 2vw;
}

.toggle i {
  font-size: 1.7vw;
}

.toggle .uil-sun,
.uil-bars {
  display: none;
}
